---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, getUniqueTags, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { Schema } from "astro-seo-schema";

const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const uniqueTags = getUniqueTags(allPosts);
---

<Schema
	item={{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		itemListElement: [
			{
				"@type": "ListItem",
				position: 1,
				name: "Home",
				item: "https://anjaygoel.com",
			},
			{
				"@type": "ListItem",
				position: 2,
				name: "About",
				item: "https://anjaygoel.com/about",
			},
			{
				"@type": "ListItem",
				position: 3,
				name: "Posts",
				item: "https://anjaygoel.com/posts",
			},
		],
	}}
/>

<PageLayout meta={{ title: "Home" }}>
	<div>
		<section>
			<h1 class="title mb-6">Hi There!</h1>
			<p class="mb-4">
				I am Anjay. I love to write about software development, technology and occasionally other
				stuff like economics & finance. I hope you find something interesting here. <br />
			</p>
			<SocialList />
		</section>
		<div class="mt-16 grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8">
			<section aria-label="Blog post list">
				<h2 class="title mb-4 text-xl">Posts</h2>
				<ul class="space-y-6">
					{
						allPostsByDate.map((p) => (
							<li class="grid gap-1.5">
								{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
								<PostPreview post={p} />
							</li>
						))
					}
				</ul>
				<nav class="mt-8 flex items-center gap-x-4">
					<a class="mr-3 me-auto py-2 sm:hover:text-accent" data-astro-prefetch href={"/posts"}>
						<span class="sr-only">View All →</span>
						View All →
					</a>
				</nav>
			</section>
			{
				!!uniqueTags.length && (
					<aside>
						<h2 class="title mb-4 flex items-center text-lg">
							<svg
								aria-hidden="true"
								class="h-6 w-6"
								fill="none"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path d="M0 0h24v24H0z" fill="none" stroke="none" />
								<path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z" />
								<path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116" />
								<path d="M6 9h-.01" />
							</svg>
							Tags
						</h2>
						<ul class="flex flex-wrap gap-2 text-bgColor">
							{uniqueTags.map((tag) => (
								<li>
									<a
										aria-label={`View all posts with the tag: ${tag}`}
										class="flex items-center justify-center rounded-lg bg-accent p-1"
										href={`/tags/${tag}/`}
									>
										{tag}
									</a>
								</li>
							))}
						</ul>
						<span class="mt-4 block sm:text-end">
							<a aria-label="View all blog categories" class="sm:hover:text-accent" href="/tags/">
								View all →
							</a>
						</span>
					</aside>
				)
			}
		</div>
	</div>
</PageLayout>
